.footer{
    background-color: var(--bg-color-sektion);
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .logo{
    color: var(--background-color-white);
}

.box-footer{
    height: 90px;
    margin-top: 60px;
}

.mail-footer{
    margin-top: 60px;
}

.social-item-nav-svg{
    height: 12px;
    width: 16px;
    fill: var(--main-color-text-gray);
    margin-right: 10px;
}

.link-svg{
    margin-bottom: 16px;
    margin-right: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.166;
    letter-spacing: 0.02em;
}

.social-link-svg{
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition-duration: 300ms;
    margin-top: 16px;
    align-items: center;
    justify-content: center;
}

.social-link-svg:hover .social-item-svg,
.social-link-svg:focus .social-item-svg{
    fill: var(--background-color-white);
}

.social-link-svg:hover,
.social-link-svg:focus{
    background-color: var(--accent-color-blue);
}

.social-item-svg{
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}

.clients-box{
    padding-top: 60px;
    padding-bottom: 60px;
}

.link-clients-svg{
    /* width: 170px; */
    height: 90px;
    /* max-width: 170px;
    max-height: 90px; */
    border: 1px solid #AFB1B8;
    display: flex;
    transition-duration: 300ms;
    border-radius: 4px;
    fill: #AFB1B8;
    align-items: center;
    justify-content: center;
}

.link-clients-svg:focus .clients-svg ,
.link-clients-svg:hover .clients-svg{
    fill: var(--accent-color-blue);
        transition-duration: 300ms;
}

.link-clients-svg:focus,
.link-clients-svg:hover{
    border: 1px solid var(--accent-color-blue);
}


.mail .btn{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    transition-duration: 300ms;
}

.mail{
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    outline: none;
    margin-right: 12px;
    color: var(--background-color-white);
    padding-left: 16px;
}

.mail::placeholder{
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.mail:focus{
    border-color: var(--accent-color-blue);
}

.mail:focus::placeholder{
    color: var(--background-color-white);
}

.footer .logo{
    margin-left: 163px;
}

.mail:-webkit-autofill,
.mail:-webkit-autofill:hover, 
.mail:-webkit-autofill:focus{
    -webkit-text-fill-color: var(--background-color-white);
    -webkit-box-shadow: 0 0 0px 1000px var(--bg-color-sektion) inset;
}

.clients-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;

}

.item-client{
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px; 
}

.social-list{
    margin-left: auto;
    margin-right: auto;
}

.social-list:not(:last-child){
    margin-right: 10px;
}

.social{
    display: flex;
    justify-content: center;
    padding-left: 122px;
    padding-right: 122px;
}

.phone-svg{
    height: 16px;
    width: 10px;
    fill: var(--main-color-text-gray);
}

.link-svg:hover .social-item-nav-svg ,
.link-svg:focus .social-item-nav-svg{
    fill: var(--accent-color-blue);
}

.social-item-footer-svg{
    width: 20px;
    height: 20px;
    fill: var(--background-color-white);
}

.social-list-footer{
    margin-left: auto;
    margin-right: auto;
}

.social-link-footer-svg{
    transition-duration: 300ms;
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
}

.social-footer{
    display: flex;
    padding-left: 137px;
    padding-right: 137px;
}

.social-link-footer-svg:hover,
.social-link-footer-svg:focus{
    background-color: var(--accent-color-blue);
}

.footer-clases{
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--background-color-white);
    font-weight: normal;
    font-size: 1.166;
    letter-spacing: 0.03em;
    line-height: 16px;
    text-align: center;
}  

.address{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.map{
    color: var(--background-color-white);
}

.contact{
    color: rgba(255, 255, 255, 0.6);
}

.footer-mail-tel-map{
    margin-bottom: 9px;
}