.screen-box-modal{
    position: absolute;
     position: fixed;
    width: 100%;
    height: 453px;
    left: 50%;
    transform: translate(-50%, 0%) scale(1);
    background-color: var(--background-color-white);
    z-index: 54;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}



.screen-box{
    position: relative;
    display: none;
    
    &.is-open{
        display: block;
    }
}

.menu-screen{
    text-align: center;
    margin-top: 120px;
}