@media screen and (min-width: 768px){
    .main{
        width: 768px;
    }
    .container{
        width: 768px;
    }

    .container-footer{
        width: 768px;
    }

    .screen-box.container{
        display: none;
    }

    .test{
        display: flex;
        align-items: center;
    }

    .container.header-container{
        align-items: center;
    }

    .menu{
        display: flex;
    }
    
    .nav-contact{
        display: block;
        align-items: center;
    }

    .text-nav{
        display: inline;
        margin-bottom: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.142;
        letter-spacing: 0.02em;   
    }

    .header{
        height: 80px;
    }

    .text-nav::after{
        margin-top: 29px;
        left: 0;
        right: 0;

    }

    .text-nav.focus-studio::after{
        left: 0;
        right: 0;
    }

    .nav-text{
        margin-right: 50px;
    }

    .nav-text:last-child {
        margin-right: 84px;
    }

    .link-contact{
        margin-bottom: 10px;
    }

    .link-contact:last-child{
        margin-bottom: 0px;
    }

    .link-svg{
        margin-bottom: 0px;
        margin-right: 0px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.166;
        letter-spacing: 0.02em;
    }

    .btn-screen{
        display: none;
    }
}
@media screen and (min-width: 768px){
    .btn{
        margin-top: 90px;
        text-align: center;
    }

    .gallery{
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
    }

    .photo{
        width: 354px;
        height: 294px;
    }

    .blye-box-gallery-text{
        width: 354px;
        height: 294px;
        padding-top: 49px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .blye-text{
        text-align: inherit;
    }

    .photo-item{
        width: 354px;
        height: 404px;
        margin-left: 30px;
        margin-top: 30px;
        flex-basis: calc(100% / 2 - 30px);
    }

    .photo-item.kostil{
        height: 440px;
    }
}
@media screen and (min-width: 768px){
    .footer .logo{
        margin-left: 40px;
        text-align: center;
    }

    .footer{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .map{
        font-size: 14px;
        line-height: 1.71;
        text-align: center;
        letter-spacing: 0.03em;
    }
    
    .contact{
        text-align: inherit;
        font-size: 14px;
        line-height: 1.71;
        text-align: center;
        letter-spacing: 0.03em;
    }

    .footer-box-link-btn{
        display: flex;
    }

    .box-footer{
        margin-top: 0px;
    }

    .mailing{
        text-align: center;
    }

    .btn-footer{
        display: block;
        margin-left: 215px;
        margin-top: 20px;
    }

    .footer-clases{
        font-size: 14px;
        line-height: 1.333;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    .container-footer{
        padding: 60px 89px 60px 76px;
    }

    .social-footer{
        padding-left: 0px;
        padding-right: 0px;
    }

    .box-footer{
        margin-top: 0px;
        margin-left: 165px;
    }
}
@media screen and (min-width: 1200px){
    .container{
        width: 1200px;
    }

    .container-footer{
        width: 1200px;
    }

    .nav-contact{
        display: flex;
        margin-left: 215px;
    }

    .link-svg{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.333;
        letter-spacing: 0.02em;
        
    }

    .link-contact{
        margin-left: 30px; 
        margin-bottom: 0px; 
    }

    .link-contact:first-child{
        margin-left: 0px;
    }
}
@media screen and (min-width: 1200px){
    .main{
      width: 1200px;  
    }
    .photo-item{
        width: 354px;
        height: 404px;
        margin-left: 30px;
        margin-top: 30px;
        flex-basis: calc(100% / 3 - 30px);
    }
    .photo{
        width: 370px;
        height: 294px;
    }

    .blye-box-gallery-text{
        width: 370px;
        height: 294px;
    }

    .photo-item.kostil{
        height: 404px;
    }
    .gallery{
        margin-top: 20px;
    }
    
}
@media screen and (min-width: 1200px){
    .footer .logo{
        margin-left: 0px;
    }

    .container-footer{
        padding-left: 0px;
        padding-right: 0px;
    }

    .footer-logo-link{
        width: 231px;

    }

    .contact{
        text-align: inherit;
    }

    .mailing{
        display: flex;
    }

    .box-footer{
        margin-left: 70px;
    }

    .mail-footer{
        margin-top: 0px;
        margin-left: 95px;
    }

    .btn-footer{
        margin-left: 12px;
        margin-top: 0px;
    }

    .address{
        text-align: inherit;
    }

    .container-footer{
        display: flex;
    }

    .mail{
        width: 358px;
        margin-right: 0px;
    }

    .footer-clases{
        font-size: 14px;
        line-height: 1.333;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
}